.App {
  text-align: center;
}

.container {
  flex: 1;
  background-color: #fff
}

.loadingContainer {
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: #FFFDE4
}

.loadingText {
  font-size: 30
}